<h1>Log in</h1>
<%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Log in" %>
<% end %>

<p>ユーザ：suzuki@gmail.com</p>
<p>password：suzuki</p>
<p>ユーザ：yamada@gmail.com</p>
<p>password：yamada</p>
